<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>股票123</name>

    <description>
        股票123
    </description>

    <author href="https://gupiao123.cn" email="iwater@gmail.com">
        iwater
    </author>
    
    <icon src="res/images/webapp/logo57.png" />

</widget>